<?xml version="1.0"?>
<ruleset name="wp-html-processors">
	<description>PHPCS configuration for prc/wp-html-processors</description>

	<file>src</file>
	<file>tests</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="6.2"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals"/>
	</rule>
</ruleset>
